<div class="content-wrapper" ng-controller = "ChangePasswordCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User
            <small>Change Password</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard#/userList"><i class="fa fa-dashboard"></i> User</a></li>
            <li class="active">Edit User</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-11">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Change Password</h3>
                    </div>
                  <div class="form-group">
                        <div class="alert alert-success" ng-show="update">
                            <strong ng-bind="update" ></strong> 
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='form-group'>
                            <input type='password' placeholder='Old Password' ng-model='params.oldpassword' name='oldpassword' class='form-control'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='form-group'>
                            <input type='password' placeholder='New Password' ng-model='params.newpassword' name='newpassword' class='form-control'>
                        </div>
                    </div> 
                     <div class='form-group'>
                        <div class='form-group'>
                            <input type='password' placeholder='Confirm Password' ng-model='params.cpassword' name='cpassword' class='form-control'>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class='btn btn-success pull-right' ng ng-click='changePassword()'>Update</div>
                    </div>
                    
                </div>
            </div>
        </div>

</section>
</div>