
<!--footer-section-->
<div class="footr_sction">
    <div class="container">
      <div class="row">
        <div class="cvr_ftr">
        <div class="col-sm-4">
            <div class="log_txt"> 
                <img src="/home/images/footer_txt.png">
                 </div>
                 <div class="img_ftr">
                 <ul>
                 <li><a href="#"><i class="fa fa-location-arrow" aria-hidden="true"></i><span>Lore ipsum is a dummy text</span></a></li>
                 <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span>+3434344545343</span></a></li>
                 <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>abc@gmail.com</span></a></li>
                 <li><a href="#"><img src="/home/images/list_fotr.png"><span>+45455325454</span></a></li>
                 <li>
                 <img src="/home/images/fb_icon.png">
                 <img src="/home/images/twite_icon.png">
                 <img src="/home/images/insta_icon.png">
                 <img src="/home/images/gogle_icon.png">
                 <img src="/home/images/wi_icon.png">
                 <img src="/home/images/yu_tbe.png">
                 
                 </li>
                 </ul>
                  </div>
                
            </div>
        
        <div class="col-sm-4">
            <div class="top_spcl">
                <h3>Top Specialities</h3>
                </div>
                <div class="top_spcil">
                    <ul>
                    <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Dentistry</span></a></li>
                    <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Cardiologist</span></a></li>
                    <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Allergist </span></a></li>
                    <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Internist</span></a></li>
                     <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Dentistry</span></a></li>
                      <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Gastroenterologist</span></a></li>
                       <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Hematologist</span></a></li>
                        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Neonatologist</span></a></li>
                         <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Internist</span></a></li>
                          <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>View All</span></a></li> 
                          
                    </ul>
                    </div>
            </div>
            
            <div class="col-sm-4">
                    <div class="top_spcl">
                <h3>Latest Profile</h3>
                </div>
                <div class="pro_ftr">
                    <ul>
                    
                    <li>
                    <a href="#">
                    <div class="ppr_pic">
                    <img src="/home/images/pplr_usr.jpg">
                    </div>
                    <h3 class="head_ftr">Lorem Ipsum</h3>
                    <span class="desc_ftr">Lorem ipsum is a dummy text</span>
                    </a>
                    </li>
                    
                  <li>
                  <a href="#">
                    <div class="ppr_pic">
                    <img src="/home/images/pplr_usr.jpg">
                    </div>
                    <h3 class="head_ftr">Lorem Ipsum</h3>
                    <span class="desc_ftr">Lorem ipsum is a dummy text</span>
                    </a>
                    </li>
                    
                   <li>
                   <a href="#">
                    <div class="ppr_pic">
                    <img src="/home/images/pplr_usr.jpg">
                    </div>
                    <h3 class="head_ftr">Lorem Ipsum</h3>
                    <span class="desc_ftr">Lorem ipsum is a dummy text</span>
                    </a>
                    </li>
                    
                     <li class="ply_lst"><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Lorem ipsum</span></a></li>
                    </ul>
                    </div>
            </div>
            
            </div>
        </div>
        </div>
    </div>
<!--lower-fotoer-->
<div class="lowr_fotr">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="home_lst">
                    <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutus">About</a></li>
                    <li><a href="/privacyandpolicy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms and Conditions</a></li>
                    <li><a href="/contact">Contact</a></li> 
                    </ul>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="ters_svntn">
                        <h2>2017 All Right Reserved</h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div>








<script>
    $(window).scroll(function() {
    if($(this).scrollTop()>5) {
        $( ".navbar-me" ).addClass("fixed-me");
    } else {
        $( ".navbar-me" ).removeClass("fixed-me");
    }
});
    </script>
    
<!--testimonial-slider-->
    <script>
    
    // When the DOM is ready, run this function
$(document).ready(function() {  
  //Set the carousel options
  $('#quote-carousel').carousel({
    pause: true,
    interval: 4000,
  });
  
  
  
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });  
  
  
  
});
    
    </script>
    
    
</body>
</html>