<html lang="en" ng-app='fwrk.home' ng-controller="Appuserlist">   

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="PerDIEMz">  
        <meta name="author" content="Rupak Kumar Singh">
        <title>PerDIEMz</title>


        <!-- Bootstrap -->
        <link href="/home/css/bootstrap.min.css" rel="stylesheet">  
        <!-- Custom Style Css -->
        <link href="/home/css/style.css" rel="stylesheet">
        <!-- font awesome Style Css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <!-- font Roboto Style Css -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
        <!-- Include all compiled plugins (below), or include individual files as needed --> 
        <script src="/home/js/bootstrap.min.js"></script>  



    </head>
    <body>

        <div ng-include='"/home/templates/header.html"'></div>  
        <!-----banner-section----->
        <div class="apron_pic">
            <img src="/home/images/dctr_bnr.jpg">  

            <div class="sign_bner">
                <h3>Doctor profile</h3>
            </div>
        </div>
        <!-----------doctor_profile_section----------->
        <div class="top_section">
  <div class="container">
      <div class="row">
          <div class="top_heading">
              <h3>A Complete Doctors List</h3>
                <p>Top Categories</p>
              </div>
                <div class="cover_top">
                  <div class="col-sm-4">
                      <div class="narrow_top">
                           <h3>Narrow Your Search</h3>
                           <div class="aval_txt">
                           <h3>Availability</h3>
                          <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike"><span class="spn_any">Any</span>
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Monday
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Tuesday
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Wednesday
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Thursday
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Friday
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Saturday
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Sunday
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Sunday
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-12">
                              <div class="srch_tm">
                                  <span class="tme_slct">Time Range</span>
        <select class="form-control tme_aftr" id="timezone" >
        
        
          <option value="" selected="selected">select your timezone</option>
          <option value="(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
          <option value="(GMT -6:00) Central Time (US & Canada), Mexico City">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
          <option value="(GMT -7:00) Mountain Time (US & Canada)">(GMT -7:00) Mountain Time (US & Canada)</option>
          <option value="(GMT -8:00) Pacific Time (US & Canada)">(GMT -8:00) Pacific Time (US & Canada)</option>
          <option value="(GMT -9:00) Alaska">(GMT -9:00) Alaska</option>
          <option value="">--</option>
          <option value="(GMT -12:00) Eniwetok, Kwajalein">(GMT -12:00) Eniwetok, Kwajalein</option>
          <option value="(GMT -11:00) Midway Island, Samoa">(GMT -11:00) Midway Island, Samoa</option>
          <option value="(GMT -10:00) Hawaii">(GMT -10:00) Hawaii</option>
          <option value="(GMT -9:30) Taiohae">(GMT -9:30) Taiohae</option>
          <option value="(GMT -9:00) Alaska">(GMT -9:00) Alaska</option>
          <option value="(GMT -8:00) Pacific Time (US & Canada)">(GMT -8:00) Pacific Time (US & Canada)</option>
          <option value="(GMT -7:00) Mountain Time (US & Canada)">(GMT -7:00) Mountain Time (US & Canada)</option>
          <option value="(GMT -6:00) Central Time (US & Canada), Mexico City">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
          <option value="(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
          <option value="(GMT -4:30) Caracas">(GMT -4:30) Caracas</option>
          <option value="(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
          <option value="(GMT -3:30) Newfoundland">(GMT -3:30) Newfoundland</option>
          <option value="(GMT -3:00) Brazil, Buenos Aires, Georgetown">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
          <option value="(GMT -2:00) Mid-Atlantic">(GMT -2:00) Mid-Atlantic</option>
          <option value="(GMT -1:00) Azores, Cape Verde Islands">(GMT -1:00) Azores, Cape Verde Islands</option>
          <option value="(GMT +0:00) Western Europe Time, London, Lisbon, Casablanca">(GMT +0:00) Western Europe Time, London, Lisbon, Casablanca</option>
          <option value="(GMT +1:00) Brussels, Copenhagen, Madrid, Paris">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
          <option value="(GMT +2:00) Kaliningrad, South Africa">(GMT +2:00) Kaliningrad, South Africa</option>
          <option value="(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
          <option value="(GMT +3:30) Tehran">(GMT +3:30) Tehran</option>
          <option value="(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
          <option value="(GMT +4:30) Kabul">(GMT +4:30) Kabul</option>
          <option value="(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
          <option value="(GMT +5:30) Bombay, Calcutta, Madras, New Delhi">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
          <option value="(GMT +5:45) Kathmandu, Pokhara">(GMT +5:45) Kathmandu, Pokhara</option>
          <option value="(GMT +6:00) Almaty, Dhaka, Colombo">(GMT +6:00) Almaty, Dhaka, Colombo</option>
          <option value="(GMT +6:30) Yangon, Mandalay">(GMT +6:30) Yangon, Mandalay</option>
          <option value="(GMT +7:00) Bangkok, Hanoi, Jakarta">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
          <option value="(GMT +8:00) Beijing, Perth, Singapore, Hong Kong">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
          <option value="(GMT +8:45) Eucla">(GMT +8:45) Eucla</option>
          <option value="(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
          <option value="(GMT +9:30) Adelaide, Darwin">(GMT +9:30) Adelaide, Darwin</option>
          <option value="(GMT +10:00) Eastern Australia, Guam, Vladivostok">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
          <option value="(GMT +10:30) Lord Howe Island">(GMT +10:30) Lord Howe Island</option>
          <option value="(GMT +11:00) Magadan, Solomon Islands, New Caledonia">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
          <option value="(GMT +11:30) Norfolk Island">(GMT +11:30) Norfolk Island</option>
          <option value="(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
          <option value="(GMT +12:45) Chatham Islands">(GMT +12:45) Chatham Islands</option>
          <option value="(GMT +13:00) Apia, Nukualofa">(GMT +13:00) Apia, Nukualofa</option>
          <option value="(GMT +14:00) Line Islands, Tokelau">(GMT +14:00) Line Islands, Tokelau</option>

        </select>
                                  </div>
                              </div>
                                
                          </div>
                            
                            <div class="aval_txt">
                           <h3>Gender</h3>
                          <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Both
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Male
                                     </form>
                                  </div>
                              </div>
                                
                                <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike">Female
                                     </form>
                                  </div>
                              </div>
                                
                          </div>
                            
                            <div class="aval_txt">
                           <h3>Rating</h3>
                          <div class="col-sm-6">
                              <div class="srch_chk">
                                <form>
<input type="checkbox" name="vehicle" value="Bike" class="uni_lss">All
                                     </form>
                                  </div>
                              </div>
                             
                                <div class="col-sm-6">
                                 <form>
<input type="checkbox" name="vehicle" value="Bike" class="inpt_set">
                                     
                              <div class="star_chk">
                                  <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                     <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                  </div>
                                    </form>
                              </div>
                                
                                <div class="col-sm-6">
                                 <form>
<input type="checkbox" name="vehicle" value="Bike" class="inpt_set">
                                     
                              <div class="star_chk">
                                  <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                     <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                  </div>
                                    </form>
                              </div>
                                
                                <div class="col-sm-6">
                                 <form>
<input type="checkbox" name="vehicle" value="Bike" class="inpt_set">
                                     
                              <div class="star_chk">
                                  <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                     <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                  </div>
                                    </form>
                              </div>
                                
                                <div class="col-sm-6">
                                 <form>
<input type="checkbox" name="vehicle" value="Bike" class="inpt_set">
                                     
                              <div class="star_chk">
                                  <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                     <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                  </div>
                                    </form>
                              </div>
                                
                                <div class="col-sm-6">
                                 <form>
<input type="checkbox" name="vehicle" value="Bike" class="inpt_set">
                                     
                              <div class="star_chk">
                                  <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                     <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                  </div>
                                    </form>
                              </div>
                                
                              <div class="col-sm-12" style="padding:0px;">
                               <button type="button" class="btn btn-primary ble_stl rst_btn">Reset All</button>
                                <button type="button" class="btn btn-primary ble_stl rst_btn">Apply</button>
                                </div>
                          </div>
                      </div>
                       </div>
                 <!--col-8-start-->
                 
                 
            
                 
                        <div class="col-sm-8" style="padding:0px;">
                        <div class="nll_upr">
                            
                            
                            <div class="covr_eght" ng-repeat="list in doctorlist">  
                           
                          <div class="col-sm-2">
                              <div class="left_lgn">
                                <div class="pic_usr">
                                <img ng-show="list.image" ng-src="{{list.image}}">
                                <img ng-show="!list.image" ng-src="/home/images/pplr_usr.jpg">
                                  </div>
                                    </div> 
                                    <a href="/userdetails?id={{list._id}}"  class="btn btn-primary ble_stl">View Profile</a>
                              </div>
                                
                                <div class="col-sm-10">
                              <div class="rght_lgn">
                                  <div class="txt_profle">
                                      <h3>{{list.username}}</h3>
                                        <span>{{list.available_from}} - {{list.available_to}}</span>  
                                      </div>
                                        
                                        <div class="quali_usr">
                                        <h3>{{list.type}}</h3>  
                                        <p>{{list.shift}}</p>  
                                          </div>
                                            
                                      <div class="star_prf">
                                        <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                     <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                           </ul>
                                          </div>
                                            
                                       <div class="snd_grph">
                                       <p>{{list.description}}</p>  
                                       <button type="button" class="btn btn-primary ble_stl">Send Request</button>
                                        </div>
                                            
                                        
                                  </div>  
                              </div>
                          </div>
                        
   
                            
                       
                      </div>
                        </div>
        <!--col-8-end-->
                  </div>
          </div>
      </div>
  </div>

        <!-------------footer-section---------------->  
        <div ng-include='"/home/templates/footer.html"'></div>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- UI Router -->
        <script src="https://cdn.jsdelivr.net/npm/angular-ui-router@0.4.3/release/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

        <!-- Angular Material -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>


        <!-- Custom JS -->
        <script src='/home/js/app.js'></script>
        <script src='/home/js/controllers/user.js'></script>

        <script src='/common/modules/users.js'></script>
        <script src='/common/modules/hospitals.js'></script>
        <script src='/common/modules/pages.js'></script>




        <script type='text/javascript'>
        var currentUser = <%- JSON.stringify(user); %> ;
        app.run(function($rootScope) {
            $rootScope.currentUser = currentUser;
            console.log($rootScope.currentUser);
        });
        </script>    


    </body>
</html>    