 
<html lang="en" ng-app='fwrk.home' ng-controller="ContactCtrl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8"> 
  <title>PerDIEMz</title>

  <!-- Bootstrap -->
  <link href="/home/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Style Css -->
  <link href="/home/css/style.css" rel="stylesheet">
  <!-- font awesome Style Css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <!-- font Roboto Style Css -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="home/js/bootstrap.min.js"></script> 



</head>
<body>

  <div ng-include='"/home/templates/header.html"'></div>








  <div class="apron_pic">
   <img src="home/images/rest_bner.jpg">

   <div class="sign_bner">
     <h3>Contact us</h3>
   </div>
 </div>

 <div class="toch_section">
   <div class="container">
     <div class="row">
       <div class="get_txt">
         <h3>Get in touch</h3>
         <span>We are happy to hear from you</span>
       </div>
     </div>
   </div>
 </div>

 <!--sign_up_section-->
 <div class="frm_sgnup">
   <div class="container">
     <div class="row">
      <div class="sgnup_heading">
       <h4>Contact Us</h4>
     </div> 
     <div class="frm_sgncvr">

       <div ng-if="errormessage" class="alert alert-danger">
        <strong>Error!</strong>Something Went Wrong.
      </div>


      <div  ng-if="successmessage"  class="alert alert-success">
        <strong>Success!</strong>Message has been sent successfully.
      </div>

      <form role="form" ng-submit="sendcontat()">
        <div class="col-sm-6">
          <div class="input-group txt_zip"> 
          <input id="email" type="text" class="form-control ctrl_smn fx_algn"  name='name' ng-model='user.name' required placeholder="Name">
         </div>
       </div>

       <div class="col-sm-6">
        <div class="input-group txt_zip">
         <input id="email" type="email" class="form-control ctrl_smn"  name='email' ng-model='user.email' required placeholder="Email">
       </div>
     </div>

     <div class="col-sm-6">
      <div class="input-group txt_zip">
       <input id="email" type="text" class="form-control ctrl_smn fx_algn"  name='phone' ng-model='user.phone' required placeholder="Phone">
     </div>
   </div>

   <div class="col-sm-6">
    <div class="input-group txt_zip">
      <input id="email" type="text" class="form-control ctrl_smn fx_algn"  name='subject' ng-model='user.subject' required placeholder="Subject">
    </div>
  </div>

  <div class="col-sm-12">
    <div class="input-group txt_zip">
     <textarea rows="4" cols="82" class="wdth_less" name='message' ng-model='user.message' required placeholder="Message"></textarea>
   </div>
 </div>

 <input type="submit" class="btn btn-primary cntr_zpp" value="Done">
</form>
</div>
</div>
</div>
</div>

<div ng-include='"/home/templates/footer.html"'></div>

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- UI Router -->
<script src="https://cdn.jsdelivr.net/npm/angular-ui-router@0.4.3/release/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

<!-- Angular Material -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>


<!-- Custom JS -->
<script src='/home/js/app.js'></script>
<script src='/home/js/controllers/user.js'></script>

<script src='/common/modules/users.js'></script>
<script src='/common/modules/hospitals.js'></script>
<script src='/common/modules/pages.js'></script>

<script src='/home/js/controllers/page.js'></script> 


   <script type='text/javascript'>
                        var currentUser = <%- JSON.stringify(user); %> ;
        app.run(function($rootScope) {
                                $rootScope.currentUser = currentUser;
                        console.log($rootScope.currentUser);
        });
        </script>  


</body>
</html>