 
<html lang="en" ng-app='fwrk.home' ng-controller="PrivacyCtrl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8"> 
  <title>PerDIEMz</title>

  <!-- Bootstrap -->
  <link href="/home/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Style Css -->
  <link href="/home/css/style.css" rel="stylesheet">
  <!-- font awesome Style Css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <!-- font Roboto Style Css -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="home/js/bootstrap.min.js"></script> 



</head>
<body>

  <div ng-include='"/home/templates/header.html"'></div>








  <div class="apron_pic">
   <img src="/home/images/sgnin_bner.jpg">

   <div class="sign_bner">
    <h3>{{heading}}</h3>
  </div>
</div> 
<div class="about_us">
  <div class="container">
    <div class="row">
      <div class="articledetails"  ng-bind-html="myHtmlVar">
 

      </div>
    </div>
  </div>
</div>


<div ng-include='"/home/templates/footer.html"'></div>

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- UI Router -->
<script src="https://cdn.jsdelivr.net/npm/angular-ui-router@0.4.3/release/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

<!-- Angular Material -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>


<!-- Custom JS -->
<script src='/home/js/app.js'></script>
<script src='/home/js/controllers/user.js'></script>

<script src='/common/modules/users.js'></script>
<script src='/common/modules/hospitals.js'></script>
<script src='/common/modules/pages.js'></script>

<script src='/home/js/controllers/page.js'></script> 



  <script type='text/javascript'>
                        var currentUser = <%- JSON.stringify(user); %> ;
        app.run(function($rootScope) {
                                $rootScope.currentUser = currentUser;
                        console.log($rootScope.currentUser);
        });
        </script>  

</body>
</html>