<html lang="en" ng-app='fwrk.home' ng-controller="UserCtrl">   

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="PerDIEMz">  
        <meta name="author" content="Rupak Kumar Singh">
        <title>PerDIEMz</title>


        <!-- Bootstrap -->
        <link href="/home/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom Style Css -->
        <link href="/home/css/style.css" rel="stylesheet">
        <!-- font awesome Style Css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <!-- font Roboto Style Css -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
        <!-- Include all compiled plugins (below), or include individual files as needed --> 
        <script src="/home/js/bootstrap.min.js"></script>  



    </head>
    <body>

        <div ng-include='"/home/templates/header.html"'></div>  
        <!-----banner-section----->
        <div class="apron_pic">
            <img src="/home/images/rest_bner.jpg">

            <div class="sign_bner">
                <h3>Dashboard</h3>
            </div>
        </div>
        <!-----------dashboard_section----------->
        <div class="dsh_bord">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bhoechie-tab-menu">
                            <div class="profile_ctly">
                                <div class="grop_bner">
                                    <img src="/home/images/dshbrd_bner.jpg">
                                </div>
                                <div class="usr_brd">

                                      <img ng-show="currentUser.image" ng-src="{{currentUser.image}}" > 
                                      <img ng-show="!currentUser.image" ng-src="/home/images/noimage.png">

                                </div>

                                <div class="mishr_dtl"> 
                                    <h3>{{currentUser.username}}</h3>

                                </div>
                            </div>

                            <div class="list-group">
                                <a href="#" class="list-group-item active text-center">
                                    <h4 class="glyphicon glyphicon-bell"></h4>Notification
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-cog"></h4>Profile
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-edit"></h4>Edit Profile
                                </a>


                            </div>
                            <a href="/changepassword" class="list-group-item text-center">
                                <h4 class="glyphicon glyphicon-transfer"></h4> Change Password
                            </a>
                            <a href="/home/logout" class="list-group-item text-center">
                                <h4 class="glyphicon glyphicon-paste"></h4>Logout
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 bhoechie-tab">
                            <!-- flight section -->
                            <div class="bhoechie-tab-content active">
                                <left>
                                    <div class="Noti_scton">
                                        <h3>Notification</h3>
                                    </div>
                                    <span class="gret_sction">Greetings & Welcome!  </span>
                                    <p class="txt_grt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </left>
                            </div>
                            <!-- train section -->
                            <div class="bhoechie-tab-content">
                                <left>
                                    <div class="edt_scton">
                                        <h3>Profile</h3>

                                    </div>

                                    <div class="nme_profle">
                                        <div class="brdr_mtng">
                                            <div class="col-sm-6"> 
                                                <div class="lft_wlcm" ng-show="currentUser.username">
                                                    <span>Name:</span>
                                                    <h3>{{currentUser.username}}</h3>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="lft_wlcm" ng-show="currentUser.phone">
                                                    <span>Contact Number:</span>
                                                    <h3>{{currentUser.phone}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="brdr_mtng">
                                            <div class="col-sm-6">
                                                <div class="lft_wlcm" ng-show="currentUser.address">
                                                    <span>Address:</span>
                                                    <h3>{{currentUser.address}}</h3>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="lft_wlcm" ng-show="currentUser.address_country">
                                                    <span>Country:</span>
                                                    <h3>{{currentUser.address_country}}</h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="brdr_mtng">
                                            

                                            <div class="col-sm-6" ng-show="currentUser.zip">
                                                <div class="lft_wlcm" >
                                                    <span>Zip:</span>
                                                    <h3>{{currentUser.zip}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </left>
                            </div>

                            <!-- hotel search -->
                            <div class="bhoechie-tab-content">
                                <left>
                                    <div class="Noti_scton">
                                        <h3>Edit Profile</h3>
                                                 <div class="col-sm-6">
                                                    <div class="profile-img">

                                                       <img ng-src="{{imgshow}}" id="photo-id" ng-show="imgshow"  width=250px"/>
                                                    </div>
                                                        <p ng-show="loading">...UPLOADING...</p>
                                                                             <div class="form-group ">                    
                                                                                   <div class="upload-btn">                              
                                                                                     <div class="fileUpload btn defult_btn">
                                                                                         <span>Upload Photo</span>

                                                         <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this)" id="photo-upload" class="upload" />

                                                            </div>

                                                          </div>
                                                        </div>
                                                  </div>
                                        <form ng-submit="editUser(editprofileuser)" method="post"> 
                                  
                                            <div class="col-sm-12">
                                                <div class="form-group lyr_scrp">
                                                    <label for="inputEmail3" class="col-sm-2 col-form-label nm_lbl">Name</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" name="username" ng-model="editprofileuser.username" id="inputEmail3" placeholder="Full Name">
                                                    </div>
                                                </div>
                                                <div class="form-group lyr_scrp">
                                                    <label for="inputPassword3" class="col-sm-2 col-form-label nm_lbl">Contact Number</label>
                                                    <div class="col-sm-4">
                                                        <input type="number" required maxlength="3"   class="form-control frm_chn" id="phone" name="phone" ng-model="editprofileuser.phone" placeholder="Contact Number">
                                                    </div>
                                                     <div ng-if="editprofileuser.phone.errors.minlength">
                                                        Name must be at least 10 characters long.
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group lyr_scrp">
                                                    <label for="inputPassword3" class="col-sm-2 col-form-label nm_lbl">Address</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control adr_zrr" id="address" name="address" ng-model="editprofileuser.address" placeholder="Address">
                                                    </div>
                                                </div>

                                                <div class="form-group lyr_scrp">
                                                    <label for="inputPassword3" class="col-sm-2 col-form-label nm_lbl">Country  </label>
                                                    <div class="col-sm-4">
                                                           <select ng-model="editprofileuser.address_country" name="address_country" class="form-control bdr-non">
                                                               <option ng-repeat="country in country" value="{{country.name}}" > {{country.name}}</option>
                                                            </select> 
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                
                                                <div class="form-group lyr_scrp">
                                                    <label for="inputPassword3" class="col-sm-2 col-form-label nm_lbl">Zip</label>
                                                    <div class="col-sm-4">  
                                                        <input type="text" required maxlength="6" class="form-control zp_ssy" id="zip" name="zip" ng-model="editprofileuser.zip" placeholder="Zip">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                    <p ng-show="update" class="danger">{{update}}</p>
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary ble_stl cntr_sgn top_lrr">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </left>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-------------footer-section---------------->  
        <div ng-include='"/home/templates/footer.html"'></div>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- UI Router -->
        <script src="https://cdn.jsdelivr.net/npm/angular-ui-router@0.4.3/release/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

        <!-- Angular Material -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>


        <!-- Custom JS -->
        <script src='/home/js/app.js'></script>
        <script src='/home/js/controllers/user.js'></script>

        <script src='/common/modules/users.js'></script>
        <script src='/common/modules/hospitals.js'></script>
        <script src='/common/modules/pages.js'></script>




        <script type='text/javascript'>
                        var currentUser = <%- JSON.stringify(user); %> ;
        app.run(function($rootScope) {
                                $rootScope.currentUser = currentUser;
                        console.log($rootScope.currentUser);
            });
            
  

            </script>    

    </body>
</html>    